*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

main{
	height: calc(100vh - 70px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
}

header{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 100%;
	background-color:rgb(143, 142, 142);
	color:whitesmoke
	
}

header > h2 {
	display: flex;
	align-items: center;
	justify-items: center;

}

.outer_box {
	height: calc(100vh / 1.5 - 70px);
	width: calc(100vw / 4);
	display: flex;
	flex-direction: column;	
	align-items: center; 
	background-color: wheat;
	column-gap: 5px;
	border-radius: 5px;
	border: 0.5px solid rgb(221, 221, 221);
	overflow: auto;
}
  
.inner_box {
	width: calc(100vw / 4);
	height: calc(100vh / 7 - 70px);
	display: flex; /* İç kutuyu da bir flex container olarak ayarlama */
	justify-content: center;
	align-items: center;
	background-color: burlywood;
	column-gap: 5px;
	border-radius: 5px;
	border: 0.5px solid rgb(221, 221, 221);
	flex-shrink: 0;
}

.inner_box > button, .inner_box > input{
	border: 0.5px solid black;
	border-radius: 3px;
	height: 30px;
	width: 250px;
}
.inner_box > input{
	padding-left: 3px;
	height: 28px;
}
.inner_box > button{
	width: 35px;
	height: 25px;
	background-color: rgb(117, 55, 55);
	color:wheat

}

.outer_box > ul{
	list-style-type: none;

}

#delete{
	background-color:#eee;
	width: 45px;
	height: 25px;
	color: black;
}

input[type="checkbox"]:checked{
	appearance: none;
}

input[type="checkbox"]:checked::after{
	content: '✅';
}
